<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./head') %>
  <link rel="stylesheet" href="button.css">
</head>

<body>

  <%- include('./sidebar') %>
    <section class="home-section">
      <div class="text">Select File</div>
      <hr>
      <div>
        <form method="post" action="/filecontents" enctype="multipart/form-data">
          <div style="margin: 20px;">
            <input type="file" id="file_uploads" name="file_uploads" accept=".txt, .csv">
          </div>
          <div class="preview" style="margin: 20px;">
            <p>파일 이름 입력</p>
            <input type="text" name="fname" id="fname" style="width:300px;">
            <br><br>
            <p>클러스터링 임계값 입력(0 ~ 1)</p>
            <input type="number" step="0.01" name="threshold" value="0.55" style="width:300px;">
            <br><br>
            <p>edge 연결 제한값 입력(0 ~ 1) </p>
            <input type="number" step="0.01" name="edge_print_threshold" value="0.8" style="width:300px;">
            <br><br>
            <div class="button" style="position: absolute; right: 90px; bottom: 50px;">
              <button class="custom-btn btn-1" type="submit">Generate</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <script src="printFileContents.js"></script>
    <script src="printGraphScript.js"></script>

</body>
</html>