.custom-btn3 {
    width: 100px;
    height: 40px;
    color: lime;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn2 {
    width: 230px;
    margin: 10px;
    height: 100px;
    color: lime;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: lime;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background:black;
    /*background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);*/
    border: none;
}

.btn-1:hover {
    background-color: lime;
    color: #000;
    /*background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);*/
    
}

.inbody{
    margin:10px;
    margin-right: 30px;
    height: 450px;
    overflow-y: scroll;
}
