.scrollable-div {
    margin-top: 5px;
    margin-right: 10px;
    height: 300px;
    /* 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    padding: 10px;
    /* 안쪽 여백 설정 */
    background-color: white;
}

.scrollable-div2 {
    margin-top: 15px;
    margin-right: 10px;
    height: 215px;
    /* 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    padding: 10px;
    /* 안쪽 여백 설정 */
    background-color: white;
}

.scrollable-div3 {
    display: inline-block;
    width: 32%;
    margin-top: 15px;
    margin-right: 10px;
    height: 400px;
    /* 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    padding: 10px;
    /* 안쪽 여백 설정 */
    background-color: white;
}

.marg {
    margin-top: 5px;
}

.clu {
    margin-top: 5px;
    font-size: x-large;
}

.first-value {
    background-color: #76d7ea;
    color: #001f3f;
    margin-top: 5px;
    border-radius: 1em;
    padding-left: 10px;
}

.second-value {
    background-color: #76d7ea;
    color: #001f3f;
    margin-top: 3px;
    border-radius: 1em;
    padding-left: 10px;
}

#modalOpenButton{
    cursor: pointer;
    background-color: #D6EEEB;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

#modalOpenButton:hover {
    background-color: #000;
    color: #D6EEEB;
    /*background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);*/
}

#modalCloseButton{
    cursor: pointer;
    float: right;
}
#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
  
  #modalContent {
    position: absolute;
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    padding: 15px;
  }
  
  #modalContainer.hidden {
    display: none;
  }

  .scrollable-span {
    display: inline-block;
    width: 30%;
    height:90%;
    margin-right: 28px;
    /* 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    padding: 10px;
    /* 안쪽 여백 설정 */
    background-color: white;
}

.tmp{
    display: inline-block;
    width: 30%;
    height:80%;
}

.scrollable-span2 {
    height:100%;
    margin-right: 28px;
    /* 높이 설정 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    padding: 10px;
    /* 안쪽 여백 설정 */
    background-color: white;
}

.idv {
    margin: 30px;
    padding: 10px;
    border: solid;
    height:100%;
}

.hodi{
    display: flex;
}

.idv3 {
    margin: 5px;
    padding: 5px;
    border: solid;
    height:70px;
    flex: 1;
}

.idv4 {
    margin: 5px;
    padding: 5px;
    height:70px;
    flex: 1;
}

.span {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.div {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.columns{
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}

.idv2{
    height:100%;
}

#helvoa{
    width: 150px;
    cursor: pointer;
    background-color: #D6EEEB;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

#helvoa:hover {
    background-color: #000;
    color: #D6EEEB;
    /*background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);*/
}

#clic {
    width: 150px;
    cursor: pointer;
    background-color: #D6EEEB;
    height: 20px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn5{
    cursor: pointer;
    background-color: #D6EEEB;
    width: 170px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn5:hover {
    background-color: #000;
    color: #D6EEEB;
    /*background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);*/
}

